<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Profile</title>
    <link rel="stylesheet" href="profile.css" />
  </head>
  <body>
    <header class="header">
      <div class="welcome-box">
        <img src="photo.jpg" alt="Profile Icon" class="header-profile-photo" />
        <h1>Welcome, {{ email }}</h1>

      </div>
      <div>
        <a href="/auth">Log out</a>
      </div>
    </header>

    <main class="profile-main-content">
      <div class="profile-grid">
        <div class="profile-grid-box">
          <h3>Hello</h3>
        </div>

        <div class="profile-grid-box">
          <h3>Hello</h3>
        </div>

        <div class="profile-grid-box">
          <h3>Hello</h3>
        </div>

        <div class="profile-grid-box">
          <h3>Hello</h3>
        </div>
      </div>
    </main>
  </body>
</html>